<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            width: 100%;
            font-size: 10px;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
            font-size: 10px;
        }
        td, th {
            padding: 2px 7px;
        }
        .head_invoice {
            margin-bottom: 20px;
            font-size: 14px;
        }
    </style>
</head>
<body>

    <div class="head_invoice">
        <% if (invoices[2].length > 0) { %>
            <div>Hospital name: <%= invoices[2][0].hospital_name %></div>
            <div>Period
                from: <%= moment.utc(invoices[2][1].from).format('DD-MM-YYYY') %>
                to: <%= moment.utc(invoices[2][2].to).format('DD-MM-YYYY') %>
            </div>
        <% }%>
    </div>

    <table>
        <tr>
            <th>No.</th>
            <th>Insurance</th>
            <th>Interval</th>
            <th>Bill cost</th>
            <th>Number of bills</th>
            <th>Amount</th>
        </tr>
        <% if (invoices[0].length > 0) { %>
            <% invoices[0].forEach(function (invoice, index) {%>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= invoice.insurance_name  %></td>
                    <td>
                        <% if (invoice.interval === 7) { %>
                            <p>Weekly</p>
                        <%} else { %>
                            <p>Monthly</p>
                        <% } %>
                    </td>
                    <td><%= invoice.cost     %></td>
                    <td><%= invoice.number_of_bills %></td>
                    <td><%= invoice.amount %></td>
                </tr>
            <%  });%>
        <% }%>

        <% if (invoices[1].length > 0) { %>
            <% invoices[1].forEach(invoice => {%>
                <tr>
                    <td></td>
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td><%= invoice.total_number_of_bills %></td>
                    <td><%= invoice.total_amount %></td>
                </tr>
            <%  });%>
        <% }%>

    </table>
</body>
</html>
