<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-size: 10px;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
            font-size: 10px;
        }
        td, th {
            padding: 2px 7px;
        }
        .head_bills {
            margin-bottom: 20px;
            font-size: 14px;
        }
    </style>
</head>
<body>

    <div class="head_bills">
        <h3>Bills List</h3>
        <div>Bills period:
            from: <%= moment(bills.dateFrom).format('DD-MM-YYYY') %>
            to: <%= moment(bills.dateTo).format('DD-MM-YYYY') %>
        </div>
    </div>
    <table>
        <tr>
            <th>Bill key</th>
            <th>Insurance</th>
            <th>Policy number</th>
            <th>Status</th>
            <th>Created</th>
        </tr>
        <% if (bills.list.length > 0) { %>
            <% bills.list.forEach(bill => {%>
                <tr>
                    <td><%= bill.bill_key %></td>
                    <td><%= bill.insurance_name %></td>
                    <td><%= bill.policy_number %></td>
                    <td><%= billStringStatus(bill.status) %></td>
                    <td><%= moment(bill.created_at).format('DD-MM-YYYY') %></td>
                </tr>
            <%  });%>
        <% }%>
    </table>
</body>
</html>
